.post-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 0 !important;
}

.post-cover-outer-wrapper {
    margin: -8px;
}

.post-cover-image-wrapper {
    width: 100%;
}
