* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: rgb(250, 250, 250);
}

body {
  margin: 0;
  background-color: #fafafa;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-rendering: optimizelegibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');
@import '~react-md/src/scss/react-md';
@import 'theme.scss';

@include react-md-everything;

@media only screen and (min-width: 768px) {
  #page {
    display: grid;
    margin: auto;
    grid-gap: 10px;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "profile body";

    #profile {
      grid-area: profile;
    }

    #body {
      grid-area: body;
    }
  }
}

#profile {
  padding: 2em;
}

.profile-img {
  border-radius: 50%;
  display: block !important;
  margin: 2em auto;
}
