* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');
@import '~react-md/src/scss/react-md';
@import 'theme.scss';

@include react-md-everything;

@media only screen and (min-width: 768px) {
  #page {
    display: grid;
    margin: auto;
    grid-gap: 10px;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "profile body";

    #profile {
      grid-area: profile;
    }

    #body {
      grid-area: body;
    }
  }
}

#profile {
  padding: 2em;
}

.profile-img {
  border-radius: 50%;
  display: block !important;
  margin: 2em auto;
}
